@model IEnumerable<FP_01_2021_2022.Models.Contacto>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-3">
    <h1>Lista de Contactos</h1>
    <p style="font-weight: bold; text-align: center">@TempData["Update"]</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nickname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.amigo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nickname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amigo)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Alterar" asp-route-id="@item.id">Alterar</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>